
/* Variables to made styling adjusments quickly and eaisly */
:root {
  --primary: #ffffff;
  --secondary: #D1AA66;
  --tertiary: #D6ADAA;
  --accent: #6b6b6b;
  --background: #eeeeee;
  --menu-height: 90px;
  --font-stack: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

ul {
  padding: 0;
}

/* Optional header element */
#minimum-header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  /* Optional styling */
  height: var(--menu-height);
  background-color: var(--primary);
  padding: 0px 5vw;
  z-index: 5;
}

/* Hides the mobile logo on larger devices */
#minimum-header .mobile-logo{
  display: none;
}

#minimum-header .desktop-logo img {
  margin-top: 80px;
  height: 160px;
}

#minimum-responsive-menu a {
  /* Adjust to desired styling of menu links */
  padding: 1.5vw;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  color: var(--accent);
}

#minimum-responsive-menu a:hover {
  /* Adjust to desired styling of menu links on hover*/
  color: var(--tertiary);
  font-weight: 600;
  transition: 300ms;
  transform: scale(2);
}

#minimum-responsive-menu .minimum-active {
  /* Styling for active element. Try bold, italics, background colour, etc. */
  font-weight: 600;
  color: var(--secondary);
}

#minimum-items {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

#minimum-toggle {
  height: 25px;
  display: none;
  cursor: pointer;
}

/* This will be the mobile breakpoint where the menu collapses. Adjust as needed. */
@media screen and (max-width: 750px) {
    #minimum-header {
      justify-content: space-between;
    }
    #minimum-toggle {
      display: flex;
    }
    /* Displays proper mobile logo image */
    #minimum-header .mobile-logo{
      display: block
    }
    /* Hides desktop centered logo */
    #minimum-header .desktop-logo{
      display: none;
    }
    #minimum-items {
      width: 100vw;
      flex-direction: column;
      position: absolute;
      top: 74px;
      left: 0;
      /* Optional styling */
      background-color: #eee;
      border-bottom: 1px solid #ccc;
      padding: 10px 0px;
    }
    .minimum-item-padding {
      padding: 7px 0px; 
    }

}

@media screen and (min-width: 750px) {
  #minimum-items {
    display: flex !important;
  }
}